@model WebAppEcartDemo.viewModel.itemViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSave").click(function () {
           SaveItem();
           ;
        });
    });

    function ResultItem() {
        $("#categoryId").val("1");
        $("#itemCode").val("");
        $("#itemName").val("");
        $("#description").val("");
        $("#itemPrice").val("");
        $("#imagePath").val("");
    }

    function SaveItem() {
        var formData = new FormData();
        formData.append("categoryId", $("#categoryId").val());
        formData.append("itemCode", $("#itemCode").val());
        formData.append("itemName", $("#itemName").val());
        formData.append("description", $("#description").val());
        formData.append("itemPrice", $("#itemPrice").val());
        formData.append("imagePath", $("#imagePath").get(0).files[0]);

        $.ajax({
            async: true,
            dataType: 'JSON',
            type: 'Post',
            contentType: false,
            processData: false,
            url: '/Item/Index',
            data: formData,
            success: function (data) {
                if (data.Success) {
                    alert(data.Message);
                    ResultItem();
                }
            },
            error: function () {
                alert("There is some Problem to add item");
            }
        });
    }
</script>

<div class="container">
    <div class="col-md-4">
        <div class=" form-grop">
            Category :
            @Html.DropDownListFor(model => model.categoryId, new SelectList(Model.categoryselectListItem, "Value", "text"),
    new { @class = "from-control" })
        </div>
    </div>

    <div class="col-md-4">
        <div class=" form-grop">
            Item Code :
            @Html.TextBoxFor(model => model.itemCode, new { @class = "form-control", autocomplete = "off" })
        </div>
    </div>

    <div class="col-md-4">
        <div class=" form-grop">
            Item Name :
            @Html.TextBoxFor(model => model.itemName, new { @class = "form-control", autocomplete = "off" })
        </div>
    </div>

    <div class="col-md-4">
        <div class=" form-grop">
            Description :
            @Html.TextBoxFor(model => model.description, new { @class = "form-control", autocomplete = "off" })
        </div>
    </div>

    <div class="col-md-4">
        <div class=" form-grop">
            Item Price:
            @Html.TextBoxFor(model => model.itemPrice, new { @class = "form-control", autocomplete = "off" })
        </div>
    </div>

    <div class="col-md-4">
        <div class=" form-grop">
            Image Path:
            @Html.TextBoxFor(model => model.imagePath, new { type = "file", @class = "form-control" })
        </div>
    </div>

    <div>
        <input type="button" value="Save" name="save" class="btn btn-primary" id="btnSave" />
        &nbsp;
        <input type="button" value="Reset" name="reset" class="btn btn-danger" />

    </div>

</div>